* {
  padding: 0; 
  margin: 0; 
}
body{
  background-color: lightgrey; 
}

.container{
  border: 50px white solid; 
}

.items{
  display: flex; 
  list-style-type: none;
  flex-direction: row; 
}

.item{
  background-color: rgb(233, 233, 115);
  color: black;  
  border: 1px black solid; 
  padding: 10px; 
}


.navbar{
  display: flex; 
  background-color: white;
  width: 100vp; 
  word-spacing: 2em;
  padding: 40px; 
  justify-content: space-around; 
}

nav a{ 
  text-transform: uppercase;
  text-decoration: none;
}

.greeting{
   background: lightgreen; 
   padding: 60px; 
   border: 1px black solid; 
}

h1{
  text-align: center;
  padding-top: 50px;  
}

h2{
  text-align: center;
  padding-top: 20px;
}

li:nth-child(1){
  background-color: white;
  color: black;
  border: none;  
}

li:nth-child(4){
  background-color: lightgreen;
  color: black; 
}

li:nth-child(5){
  word-spacing: normal;
}

.info{
  display: flex; 
  border: 1px black solid; 
  padding: 30px; 
  color: rgb(32, 13, 13);
  justify-content: flex-end; 
}

.steps{
  display: flex; 
  background-color: rgb(240, 240, 119);
  color: black;
  border: 1px black solid; 
  padding: 20px; 
}

.steps h2{
  color: darkgreen; 
}

.container-2{
  background-color: rgb(236, 236, 79); 
  border: 50px white solid; 
  color: black;
  text-align: center; 
}

.container-2 li{
  border: 1px black solid;
  padding: 5px;   
}

.skill{
  align-self: center;
  padding-bottom: 20px; 
}

.lists{
  background-color: rgb(238, 238, 85);
  padding: 0 150px; 
}

.list-one{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none;
}

.list-one .name{
  background-color: black;
  color: white; 
  flex:0.15; 
  text-align: center;
}

.list-one .placeholder{
  background-color: darkgreen;
  flex:1; 
}

.list-one .percentage{
  flex:0.1; 
  background-color: rgb(240, 240, 150); 
}

.list-two{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none; 
}

.list-two .name{
  background-color: black;
  color: white;
  flex:0.15; 
  text-align: center; 
}

.list-two .placeholder{
  background-color: darkgreen;
  flex:1; 
}

.list-two .percentage{
  flex:0.1;
  background-color: rgb(240, 240, 150);  
}

.list-three{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none; 
}

.list-three .name{
  background-color: black;
  color: white; 
  flex:0.15; 
  text-align: center; 
}

.list-three .placeholder{
  background-color: darkgreen;
  flex:1;
}

.list-three .percentage{
  flex:0.2;
  background-color: rgb(240, 240, 150);  
}

.list-four{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none; 
}

.list-four .name{
  background-color: black;
  color: white;
  flex:0.15; 
  text-align: center;  
}

.list-four .placeholder{
  background-color: darkgreen;
  flex:1;
}

.list-four .percentage{
  flex:0.3;
  background-color: rgb(240, 240, 150); 
}

.list-five{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none; 
}

.list-five .name{
  background-color: black;
  color: white; 
  flex:0.15; 
  text-align: center; 
}

.list-five .placeholder{
  background-color: darkgreen;
  flex:1;
}

.list-five .percentage{
  flex:0.2;
  background-color: rgb(240, 240, 150); 
}

.list-six{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none; 
}

.list-six .name{
  background-color: black;
  color: white; 
  flex:0.15; 
  text-align: center; 
}

.list-six .placeholder{
  background-color: darkgreen;
  flex:1;
}

.list-six .percentage{
  flex:0.1;  
  background-color: rgb(240, 240, 150); 
}

.list-seven{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none; 
}

.list-seven .name{
  background-color: black;
  color: white; 
  flex:0.15; 
  text-align: center; 
}

.list-seven .placeholder{
  background-color: darkgreen;
  flex:1;
}

.list-seven .percentage{
  flex:0.3; 
  background-color: rgb(240, 240, 150);
}

.list-eight{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none;
}

.list-eight .name{
  background-color: black;
  color: white;
  flex:0.15; 
  text-align: center;  
}

.list-eight .placeholder{
  background-color: darkgreen;
  flex:1;
}

.list-eight .percentage{
  flex:0.3; 
  background-color: rgb(240, 240, 150);
}

.list-nine{
  display: flex;
  border: 1px black solid; 
  padding: 10px; 
  justify-content: space-between;
  list-style-type: none; 
}

.list-nine .name{
  background-color: black;
  color: white; 
  flex:0.15; 
  text-align: center; 
}

.list-nine .placeholder{
  background-color: darkgreen;
  flex:1;
}

.list-nine .percentage{
  flex:0.4; 
  background-color: rgb(240, 240, 150);
}

.container-3{
  background-color: lightskyblue;
  border: 50px white solid; 
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  padding: 50px; 
  width: 100vp; 
  justify-content: space-evenly;   
}

.box{
  border: 5px white solid; 
  background-color: lightgrey;
  justify-content: space-evenly;
  margin: 60px;
  width: 200px; 
  height: 210px;
  align-items: center; 
}

.text{
  border: 2px white solid; 
}

.container-4{
  background-color: rgb(245, 190, 81);
  border: 50px white solid; 
  padding: 20px;  
}

.about-me{
  display: flex;
  flex-direction: column;
  margin: 50px; 
}

.my_name_is{
  border: 3px green solid; 
  margin: 30px;
  text-align: center; 
}

.image2{
  border: 3px green solid; 
  height: 200px;
  align-self: center; 
}

.btn{
  background-color: rgb(51, 238, 51);
  color: white; 
  width: 100px; 
  height: 50px; 
  font-size: 15px;
  border: 1px rgb(16, 94, 16) solid; 
}

.container-5{
  background-color: black;
  color: white; 
  border: 50px white solid; 
}

.icons{
  padding-left: 400px;
}

.icon{
  display: inline-block; 
  font-size: 30px;
  margin: 50px; 
  list-style: none;
  border: 2px white solid; 
}

.form{
  background-color: rgb(108, 235, 108);
  border: 50px white solid; 
}

.form h1{
  color: white; 
}

.first_name{
  color: white; 
  font-size: 20px;
  margin: 30px; 
  width: 14%;  
  text-align: center;
}

.last_name{
  color: white; 
  font-size: 20px;
  margin: 30px; 
  width: 14%;  
  text-align: center;
}

.email{
  color: white; 
  font-size: 20px;
  margin: 30px; 
  width: 14%;  
  text-align: center;
}

.form-info{
  display: flex; 
  justify-content: space-around;
}

.message{ 
  color: white; 
  font-size: 30px;
  margin: 20px; 
  width: 700px;
  height: 150px;   
  padding-left: 60px;
}

textarea{
  width: 100%;
  height: 70%; 
  padding-left: 200px; 
}

.button{
  margin: 30px; 
  padding-left: 50px;
  font-size: 20px;   
}

.bottom{
  background-color: rgb(32, 240, 32);
  border: 50px white solid; 
  height: 170px;
  text-align: center;
  padding: 50px; 
}

.bottom h2{
  margin-top: 0; 
}

.icon2{
  display: inline-block; 
  font-size: 30px;
  margin: 50px; 
  list-style: none;
  border: 2px white solid; 
}









